@charset "UTF-8";

/*
Created by Jeff Sallans (jeffsallans@gmail.com)
4-2-2012
PURPOSE: general style
*/

/* CSS Document */
body {

	background-color: #EEEEEE;
	font-family: "Segoe UI","Helvetica",Garuda,Arial,sans-serif;
	font-size: 14px;
    padding-bottom: 40px;
}

.all {

	box-shadow: 0 0 85px rgba(0, 0, 0, 0.3);
	background-color: #FFFFFF;

	width: 1000px;
	top: 50px;

	/*centers the div*/
	margin: 0px auto;
}

.all .container {

	padding: 20px;
}

.btn-primary {

	background-color: #00A8D9;
	background-image: linear-gradient(to bottom, #00A8D9, #0068D9);
}

.header_title {

	margin-left: -50px;

	color: #FFFFFF;
	background-color: #01219B;

	padding: 5px;
	padding-left: 65px;
	padding-right: 15px;
	margin-bottom: 0px;
	width: auto;
	display: table;

-webkit-box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.5);
}

.header_diag {

	left: -50px;
    width: 150px; 
    height: 40px;
    margin-left: 25px;
    margin-bottom: -40px; 

    position: relative;
    z-index: -1;
    -webkit-transform: skew(50deg); 
    -moz-transform: skew(50deg); 
    -o-transform: skew(50deg); 
    background: #091447;
}

.header_diag + p {

	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}