@charset "UTF-8";

/*
Created by Jeff Sallans (jeffsallans@gmail.com)
4-2-2012
PURPOSE: general style
*/

/* CSS Document */
body {

	background-color: #FFFC00;
	font-family: "Segoe UI","Helvetica",Garuda,Arial,sans-serif;
	font-size: 14px;
    padding-bottom: 40px;
}

.all {

	box-shadow: 0 0 85px rgba(0, 0, 0, 0.3);
	background-color: #FFFFFF;

	width: 1000px;
	top: 50px;

	/*centers the div*/
	margin: 0px auto;
}

.all .container {

	padding: 20px;
}

.btn-primary {

	background-color: #00A8D9;
	background-image: linear-gradient(to bottom, #00A8D9, #0068D9);
}

.header_title {

	margin-left: -50px;

	color: #FFFFFF;
	background-color: #01219B;

	padding: 5px;
	padding-left: 65px;
	padding-right: 15px;
	padding-bottom: 10px;

	margin-bottom: 0px;
	width: auto;
	display: table;

-webkit-box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.5);
}

.header_diag {

	left: -50px;
    width: 150px; 
    height: 40px;
    margin-left: 25px;
    margin-bottom: -40px; 

    position: relative;
    z-index: -1;
    -webkit-transform: skew(50deg); 
    -moz-transform: skew(50deg); 
    -o-transform: skew(50deg); 
    background: #091447;
}

.header_diag + p, .header_diag + ol {

	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 35px;
}

.icon_holder {

	position: relative;
}

.floating_icon_second {

  display: inline-block;
  position: absolute;
  right: 25px;
  top: 22px;
  width: 35px;
  height: 35px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 35px;
  vertical-align: text-top;
  /*background-position: 14px 14px;*/
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  background-image: url("../images/edit.png");
}

.floating_icon_first {

  display: inline-block;
  position: absolute;
  right: 60px;
  top: 22px;
  width: 35px;
  height: 35px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 35px;
  vertical-align: text-top;
  /*background-position: 14px 14px;*/
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  background-image: url("../images/edit.png");
}

.publication_icon_size {

  top: 0px;
  right: 10px;
  background-size: 20px, 20px;
  line-height: 20px;
  height: 20px;
}

.publication_second_icon_size {

  top: 0px;
  right: -20px;
  background-size: 20px, 20px;
  line-height: 20px;
  height: 20px;
}

.edit_icon {

	background-image: url("../images/edit.png");
}

.edit_icon:hover {

	background-image: url("../images/edit_pressed.png");
}

.delete_icon {

	background-image: url("../images/delete.png");
}

.delete_icon:hover {

	background-image: url("../images/delete_pressed.png");
}

.large_lines {

  padding: 60px;
  font-size: 30px;
  line-height: 130px;
}

.people_frame {

  width: 120px;
  height: 120px;
  overflow: hidden;
  vertical-align: middle;
  transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px); /* IE 9 */
  -webkit-transform: translate(-50px, 0px); /* Safari and Chrome */
  -moz-transform: translate(-50px, 0px); /* Firefox */
  -o-transform: translate(-50px, 0px); /* Opera */
}

.people_img {

  width: 120px;
  position: relative;
}

.link_frame {

  width: 150px;
  height: 150px;
  overflow: hidden;
  vertical-align: middle;
}

.link_img {

  width: 150px;
  position: relative;
}

.link_text {

  padding-left: 30px;
}